<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Directory</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{../css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{../css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{../css/nice-select.css}">
    <link rel="stylesheet" th:href="@{../css/flaticon.css}">
    <link rel="stylesheet" th:href="@{../css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{../css/gijgo.css}">
    <link rel="stylesheet" th:href="@{../css/animate.css}">
    <link rel="stylesheet" th:href="@{../css/slick.css}">
    <link rel="stylesheet" th:href="@{../css/slicknav.css}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header th:replace="fragments/header :: header"></header>

    <!-- header-end -->

      <!-- bradcam_area  -->
      <div class="bradcam_area bradcam_bg_3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <div class="icon">
                                <i class="flaticon-food"></i>
                            </div>
                            <h4 th:text="${subscriber.getName()}"></h4>
                            <div th:if="${subscriber.getAddressSet().get(0)!=null}">
                                <p style="display: inline;" th:text="${ subscriber.getAddressSet().get(0).getCity()}"> </p>
                                <p style="display: inline;" th:text="${ subscriber.getAddressSet().get(0).getStreet()}"> </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ bradcam_area  -->

    <div class="listing_details">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-8">
                    <div class="single_details">

                        <h3>Profession type </h3>
                            <h2 style="padding-left: 3%;" th:text="${subscriber.getProfessionType().getType()}">  </h2>
                        <h3>Description </h3>

                        <p th:text="${subscriber.getLegalInformation().getDescription()}"></p>
                        <h3>Horaire </h3>
                        <ul class="unordered-list">
                            <li th:each="time : ${subscriber.getOpeningTimeSet()}"
                                th:text="${time.getDay()+':  '+time.getOpening()+'  -  ' +time.getClosing()}"></li>
                        </ul>



                       </div>
                    <div class="single_details">
                        <h3>Location</h3>
                        <div class="map_Wrap">
                            <div class="d-sm-block ">
                                <div class="map_inner_info">
                                    <div id="map" style="height: 350px;"></div>

<!--                                    <div class="explorer_info">-->
<!--                                        <h3>Freshly Food</h3>-->
<!--                                        <p>700/D, Kings road, Green lane, London</p>-->
<!--                                        <ul>-->
<!--                                            <li> <i class="fa fa-phone"></i>-->
<!--                                                +10 278 367 9823</li>-->
<!--                                            <li><i class="fa fa-envelope"></i> contact@midnight.com</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single_details">
                        <h3 style="display:inline" th:text="${subscriber.getProfessionType().getCategory()}"></h3>
                        <h3 style="display:inline; ">information</h3><br>
                        <div style="padding-left:4%; padding-top: 4%;" th:if="${subscriber.getPhoneNumber()!=null}">
                            <p style="display: inline; font-weight: bold;">Phone number </p>
                            <p style="display: inline;" th:text="${ subscriber.getPhoneNumber()}"> </p>
                        </div>
                        <div style="padding-left:4%;" th:if="${subscriber.getPhoneNumber2()!=null}">
                            <p style="display: inline; font-weight: bold;">Phone number 2 </p>
                            <p style="display: inline;" th:text="${ subscriber.getPhoneNumber2()}"> </p>
                        </div>
                        <div  style="padding-left:4%;" th:if="${subscriber.getEmail()!=null}">
                            <p style="display: inline; font-weight: bold;">Email </p>
                            <p style="display: inline;" th:text="${ subscriber.getEmail()}"> </p>
                        </div>
                        <div  style="padding-left:4%;" th:if="${subscriber.getWebsiteUrl()!=null}">
                            <p style="display: inline; font-weight: bold;">Website Url </p>
                            <p style="display: inline;" th:text="${ subscriber.getWebsiteUrl()}"> </p>
                        </div>
                        <div  style="padding-left:4%;" th:if="${subscriber.getAddressSet().get(0)!=null}">
                            <p style="display: inline; font-weight: bold;">Address </p>
                            <p style="display: inline;" th:text="${ subscriber.getAddressSet().get(0).getCity()}"> </p>
                            <p style="display: inline;" th:text="${ subscriber.getAddressSet().get(0).getStreet()
                            +' '+subscriber.getAddressSet().get(0).getZipCode() }"> </p>
                        </div>

                        <h3 style="padding-top: 3%;">Legal Information </h3>
                            <div  style="padding-left:4%;" th:if="${subscriber.getLegalInformation().getCompanyName()!=null}">
                                <p style="display: inline; font-weight: bold;">Company name: </p>
                                <p style="display: inline;" th:text="${ subscriber.getLegalInformation().getCompanyName()}"></p><br>
                            </div>
                             <div  style="padding-left:4%;" th:if="${subscriber.getLegalInformation().getNic()!=null}"><p style="display: inline; font-weight: bold;">SIREN: </p><p style="display: inline;" th:text="${ subscriber.getLegalInformation().getSiren()}"></p><br>
                                <p style="display: inline; font-weight: bold;">NIC: </p>
                                <p style="display: inline;" th:text="${ subscriber.getLegalInformation().getNic()}"></p><br>
                             </div>
                             <div  style="padding-left:4%;" th:if="${subscriber.getLegalInformation().getSiret()!=null}"><p style="display: inline; font-weight: bold;">SIREN: </p><p style="display: inline;" th:text="${ subscriber.getLegalInformation().getSiren()}"></p><br>
                                <p style="display: inline; font-weight: bold;">SIRET: </p>
                                <p style="display: inline;" th:text="${ subscriber.getLegalInformation().getSiret()}"></p><br>
                             </div>
                             <div  style="padding-left:4%;" th:if="${subscriber.getLegalInformation().getApe()!=null}"><p style="display: inline; font-weight: bold;">SIREN: </p><p style="display: inline;" th:text="${ subscriber.getLegalInformation().getSiren()}"></p><br>
                                <p style="display: inline; font-weight: bold;">Company principal activity (APE): </p>
                                <p style="display: inline;" th:text="${ subscriber.getLegalInformation().getApe()}"></p><br>
                             </div>
                             <div  style="padding-left:4%;" th:if="${subscriber.getLegalInformation().getTva()!=null}"><p style="display: inline; font-weight: bold;">SIREN: </p><p style="display: inline;" th:text="${ subscriber.getLegalInformation().getSiren()}"></p><br>
                                <p style="display: inline; font-weight: bold;">Tva: </p>
                                <p style="display: inline;" th:text="${ subscriber.getLegalInformation().getTva()}"></p><br>
                             </div>
                    </div>

            </div>


        </div>






    </div>   
    </div>   
    
    <!-- explorer_europe start  -->
    <div class="explorer_europe">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Related Listings</h3>
                    </div>
                </div>
            </div>
                <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_explorer">
                                <div class="thumb">
                                    <img src="img/explorer/1.png" alt="">
                                </div>
                                <div class="explorer_bottom d-flex">
                                    <div class="icon">
                                        <i class="flaticon-beach"></i>
                                    </div>
                                    <div class="explorer_info">
                                        <h3><a href="#">Saintmartine</a></h3>
                                        <p>700/D, Kings road, Green lane, London</p>
                                        <ul>
                                            <li> <i class="fa fa-phone"></i>
                                                +10 278 367 9823</li>
                                            <li><i class="fa fa-envelope"></i> contact@midnight.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_explorer">
                                <div class="thumb">
                                    <img src="img/explorer/2.png" alt="">
                                </div>
                                <div class="explorer_bottom d-flex">
                                    <div class="icon">
                                        <i class="flaticon-food"></i>
                                    </div>
                                    <div class="explorer_info">
                                        <h3><a href="#">Freshly Food</a></h3>
                                        <p>700/D, Kings road, Green lane, London</p>
                                        <ul>
                                            <li> <i class="fa fa-phone"></i>
                                                +10 278 367 9823</li>
                                            <li><i class="fa fa-envelope"></i> contact@midnight.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single_explorer">
                                <div class="thumb">
                                    <img src="img/explorer/3.png" alt="">
                                </div>
                                <div class="explorer_bottom d-flex">
                                    <div class="icon">
                                        <i class="flaticon-food-1"></i>
                                    </div>
                                    <div class="explorer_info">
                                        <h3><a href="#">Midnight</a></h3>
                                        <p>700/D, Kings road, Green lane, London</p>
                                        <ul>
                                            <li> <i class="fa fa-phone"></i>
                                                +10 278 367 9823</li>
                                            <li><i class="fa fa-envelope"></i> contact@midnight.com</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
    <!-- explorer_europee end  -->



    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="img/footer_logo.png" alt="">
                                </a>
                            </div>
                            <p>
                                Esteem spirit temper too say adieus who <br> direct esteem. It esteems luckily or <br>
                                picture placing drawing.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Services
                            </h3>
                            <ul>
                                <li><a href="#">SEO/SEM </a></li>
                                <li><a href="#">Web design </a></li>
                                <li><a href="#">Ecommerce</a></li>
                                <li><a href="#">Digital marketing</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Useful Links
                            </h3>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#"> Contact</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Subscribe
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems
                                luckily.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
    <!-- JS here -->
    <script th:src="@{../js/vendor/modernizr-3.5.0.min.js}"></script>
    <script th:src="@{../js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{../js/popper.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{../js/owl.carousel.min.js}"></script>
    <script th:src="@{../js/isotope.pkgd.min.js}"></script>
    <script th:src="@{../js/ajax-form.js}"></script>
    <script th:src="@{../js/waypoints.min.js}"></script>
    <script th:src="@{../js/jquery.counterup.min.js}"></script>
    <script th:src="@{../js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{../js/scrollIt.js}"></script>
    <script th:src="@{../js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{../js/wow.min.js}"></script>
    <script th:src="@{../js/nice-select.min.js}"></script>
    <script th:src="@{../js/jquery.slicknav.min.js}"></script>
    <script th:src="@{../js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{../js/jquery-ui.js}"></script>
    <script th:src="@{../js/plugins.js}"></script>



    <!--contact js-->
    <script th:src="@{../js/contact.js}"></script>
    <script th:src="@{../js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{../js/jquery.form.js}"></script>
    <script th:src="@{../js/jquery.validate.min.js}"></script>
    <script th:src="@{../js/mail-script.js}"></script>


    <script th:src="@{../js/main.js}"></script>

<!--    <script>-->
<!--        function initMap() {-->
<!--            var uluru = {lat: -25.363, lng: 131.044};-->
<!--            var grayStyles = [-->
<!--                {-->
<!--                    featureType: "all",-->
<!--                    stylers: [-->
<!--                        { saturation: -90 },-->
<!--                        { lightness: 50 }-->
<!--                    ]-->
<!--                },-->
<!--                {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}-->
<!--            ];-->
<!--            var map = new google.maps.Map(document.getElementById('map'), {-->
<!--                center: {lat: -31.197, lng: 150.744},-->
<!--                zoom: 9,-->
<!--                styles: grayStyles,-->
<!--                scrollwheel:  false-->
<!--            });-->
<!--        }-->

<!--    </script>-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiLVeVSzW7ObcTeR8wy_jvnxS9huScJ2E&callback=initMap"></script>

    <script th:inline="javascript">

        var lat = /*[[${subscriber.getAddressSet().get(0).getLatitude()}]]*/ '51.528308';
        var lng = /*[[${subscriber.getAddressSet().get(0).getLongitude()}]]*/ '-0.3817765';
        var myCenter = new google.maps.LatLng(lat, lng);

        function initialize() {
            var mapProp = {
                center:myCenter,
                zoom:15,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
                icon: {
                    size: new google.maps.Size(70, 86), //marker image size
                    origin: new google.maps.Point(0, 0), // marker origin
                    anchor: new google.maps.Point(35, 86) // X-axis value (35, half of marker width) and 86 is Y-axis value (height of the marker).
                }
            });

            marker.setMap(map);

        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>




</body>

</html>